body {
  background-color: #C1C1C1;
}

.sp-video {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

<style>
a: link {
  font-family: helvetica;
  colour: white;
}

a:hover {
  colour: black;
}
</style>
